*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #337def;
}

/* display notes css or design */


.main{
    list-style: none;
    margin: 25px 30px;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fill, 223px);
}
.noting{
    overflow-wrap: break-word;
}
.box{
    height: 235px;
    border-radius: 10px;
    background-color: white;
    overflow-y: hidden;

}
.box div{
    display: flex;
    align-items: center;
    border-top: 1px solid #57575767;
    margin: 0px 5px;
}
#edit{
    position: relative;
    left: 8px;
    cursor: pointer;
    top: 7px;
}
#delet{
    
    position: relative;
    left: 180px;
    cursor: pointer;
    top: 7px;
}
.box p{
    font-size: 17px;
    margin: 5px 8px;
    color: #575757;
    overflow: hidden;
    height: 190px;
}
    /* adding Field css */
.new{
    height: 235px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2);
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.new i{
    border: 1px dashed black;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.new p{
    font-size: 20px;
}

/* Popup menu */

.popup-box{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    transition: all 0.25s ease;
}
.popup{
    transition: all 0.25s ease;
}
.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.95);
    background-color: white;
    max-width: 100%;
    width: 400px;
    border-radius: 5px;
}
header{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #57575760;
    padding: 10px;
    
}
header p{
    width: 150px;
    font-size: 20px;    
}
header i{
    position: relative;
    left: 215px;
    cursor: pointer;
}
.popup-description{
    display: flex;
    flex-direction: column;
    margin: 20px 10px;
}

.popup-description textarea{
    outline: none;
    height: 350px;
    font-size: 17px;
    border: 1px solid #575757;
    border-radius: 3px;
    padding: 5px 5px;
    resize: none;
}
.popup-btn{
    width: 95%;
    margin: 20px 10px;
    background-color: #337def;
    border: none;
    border-radius: 3px;
    height: 35px;
    color: white;
    font-size: 17px;
}
.popup-btn:hover{
    cursor: pointer;
    background-color: #236edf;
}

@media (max-width:375px){
    .main{
        grid-template-columns: repeat(auto-fill, 150px);
    }
    .box{
        height: 170px; 
    }
    .new{
        height: 170px;
    }
    .new p{
        font-size: 17px;
    }
    #edit{
        position: relative;
        left: 8px;
        cursor: pointer;
        top: 7px;
    }
    #delet{
        
        position: relative;
        left: 100px;
        cursor: pointer;
        top: 7px;
    }
    .box p{
        font-size: 15px;
        height: 125px;
    }
    header i{
        position: relative;
        left: 185px;
        cursor: pointer;
    }
}

@media (min-width:376px) and (max-width:414px){
    .main{
        grid-template-columns: repeat(auto-fill, 168px);
        margin: 25px 20px;
    }
    .box{
        height: 170px; 
    }
    .new{
        height: 170px;
    }
    .new p{
        font-size: 17px;
    }
    #edit{
        position: relative;
        left: 8px;
        cursor: pointer;
        top: 7px;
    }
    #delet{
        
        position: relative;
        left: 120px;
        cursor: pointer;
        top: 7px;
    }
    .box p{
        font-size: 15px;
        height: 125px;
    }
    header i{
        position: relative;
        left: 205px;
        cursor: pointer;
    }
}
